/*
** Chess Game Layout
** Date: 28 May 2021
*/
* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

/*
** Start Login Form
** Date: 1 June 2021
*/

.login .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.login .black-label {
    color: #000;
    width: 100%;
}

.login .white-label{
    color: #eba83a;
    width: 100%;
}

.login .black-label a {
    font-size: 5rem;
    text-align: center;
    color: #000;
    width: 100%;
}

.login .white-label a {
    font-size: 5rem;
    text-align: center;
    color: #eba83a;
    width: 100%;
}

.login input[type='radio'] {
    position: absolute;
    left: 10px;
    visibility: hidden;
}

.login .selected-color {
    background-color: #f00;
}

/*
** Search Page
** Date: 1 June 2021
*/
.waiting form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: separate;
    width: 400px;
}

.waiting .fill {
    bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(100, 100, 100, 0.5);
    display: none;
}

.waiting .msg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px 20px;
}

.waiting .temp-form {
    display: none;
}


/*
** Table Styles
** Date: 28 May 2021
*/

.white-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: separate;
    width: 400px;
}

.black-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    border-collapse: separate;
    width: 400px;
}

.black-board td {
    transform: rotate(180deg);
}

table td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 25px;
    /* position: relative; */
}

table td i {
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

table .black {
    background-color: #962d2d;
}

table .white {
    background-color: #f4cca4;
}

table .black.green {
    border: #888 solid 2px;
    background-color: #9acd32;
}

table .white.green {
    opacity: 0.5;
    border: #888 solid 2px;
    background-color: #9acd32;
}

table .black.purple {
    background-color: blueviolet;
    opacity: 0.5;
}

table .white.purple {
    background-color: blueviolet;
    opacity: 0.3;
}

table td.yellow {
    background-color: yellow;
    opacity: 0.5;
}

table td .black-peice {
    color: #000;
}

table td .white-peice {
    color: #faf1e6;
}

table td i:hover {
    cursor: pointer;
}

/*
** Style King Check Viewer
** Date: 30 May 2021
*/
table td.red {
    background-color: #f00;
    /* animation-name: light;
    animation-duration: 3s; */
}

/* @keyframes light {
  0%   {background-color: rgba(255, 0, 0, 0);}
  25%  {background-color: rgba(255, 0, 0, 1);}
  50%  {background-color: rgba(255, 0, 0, 0);}
  100% {background-color: rgba(255, 0, 0, 1);}
} */

/*
** Style Modal that control Promation
** Date: 29 May 2021
*/
#promation .grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
}

#promation .grid-container i {
    font-size: 3rem;
}
