/*
** Chess Game Layout
** Date: 28 May 2021
*/
* {
    padding: 0;
    margin: 0;
}

/*
** Table Styles
** Date: 28 May 2021
*/

h1 {
    text-align: center;
}

table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: separate;
}

table td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 25px;
    /* position: relative; */
}

table td i {
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

table .black {
    background-color: #962d2d;
}

table .white {
    background-color: #f4cca4;
}

table .black.green {
    opacity: 0.7;
    border: #888 solid 2px;
}

table .white.green {
    opacity: 0.5;
    border: #888 solid 2px;
}

table .black.purple {
    background-color: blueviolet;
    opacity: 0.5;
}

table .white.purple {
    background-color: blueviolet;
    opacity: 0.3;
}

table td.yellow {
    background-color: yellow;
    opacity: 0.5;
}

table td .black-peice {
    color: #000;
}

table td .white-peice {
    color: #faf1e6;
}

table td i:hover {
    cursor: pointer;
}

/*
** Style Modal that control Pronation
** Date: 29 May 2021
*/
#promation .grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-around;
}

#promation .grid-container i {
    font-size: 3rem;
}
