<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/fontawesome.min.css" rel="stylesheet">
    <link href="static/css/regular.min.css" rel="stylesheet">
    <link href="static/css/solid.min.css" rel="stylesheet">

    <link href="favicon.ico" rel="icon">

    <link href="static/css/style.css" rel="stylesheet">

    <title> Chess Game </title>
</head>

<body>
    <div>
        {% if num == 1 %}
        <h1> You </h1>
        <h1 style="color: #eba83a"> {{ num }} </h1>
        {% else %}
        <h1 style="color: #eba83a"> You </h1>
        <h1> {{ num }} </h1>
        {% endif %}
        <table class="{{ color }}-board">
            <tr>
                <td class="white"><i class="fa fa-chess-rook black-peice"></i></td>
                <td class="black"><i class="fa fa-chess-knight black-peice"></i></td>
                <td class="white"><i class="fa fa-chess-bishop black-peice"></i></td>

                <td class="black"><i class="fa fa-chess-queen black-peice"></i></td>
                <td class="white"><i class="fa fa-chess-king black-peice"></i></td>

                <td class="black"><i class="fa fa-chess-bishop black-peice"></i></td>
                <td class="white"><i class="fa fa-chess-knight black-peice"></i></td>
                <td class="black"><i class="fa fa-chess-rook black-peice"></i></td>
            </tr>

            <tr>
                <td class="black"><i class="fa fa-chess-pawn black-peice"></i></td>
                <td class="white"><i class="fa fa-chess-pawn black-peice"></i></td>
                <td class="black"><i class="fa fa-chess-pawn black-peice"></i></td>

                <td class="white"><i class="fa fa-chess-pawn black-peice"></i></td>
                <td class="black"><i class="fa fa-chess-pawn black-peice"></i></td>

                <td class="white"><i class="fa fa-chess-pawn black-peice"></i></td>
                <td class="black"><i class="fa fa-chess-pawn black-peice"></i></td>
                <td class="white"><i class="fa fa-chess-pawn black-peice"></i></td>
            </tr>

            <tr>
                <td class="white"><i></i></td>
                <td class="black"><i></i></td>
                <td class="white"><i></i></td>

                <td class="black"><i></i></td>
                <td class="white"><i></i></td>

                <td class="black"><i></i></td>
                <td class="white"><i></i></td>
                <td class="black"><i></i></td>
            </tr>

            <tr>
                <td class="black"><i></i></td>
                <td class="white"><i></i></td>
                <td class="black"><i></i></td>

                <td class="white"><i></i></td>
                <td class="black"><i></i></td>

                <td class="white"><i></i></td>
                <td class="black"><i></i></td>
                <td class="white"><i></i></td>
            </tr>

            <tr>
                <td class="white"><i></i></td>
                <td class="black"><i></i></td>
                <td class="white"><i></i></td>

                <td class="black"><i></i></td>
                <td class="white"><i></i></td>

                <td class="black"><i></i></td>
                <td class="white"><i></i></td>
                <td class="black"><i></i></td>
            </tr>

            <tr>
                <td class="black"><i></i></td>
                <td class="white"><i></i></td>
                <td class="black"><i></i></td>

                <td class="white"><i></i></td>
                <td class="black"><i></i></td>

                <td class="white"><i></i></td>
                <td class="black"><i></i></td>
                <td class="white"><i></i></td>
            </tr>

            <tr>
                <td class="white"><i class="fa fa-chess-pawn white-peice"></i></td>
                <td class="black"><i class="fa fa-chess-pawn white-peice"></i></td>
                <td class="white"><i class="fa fa-chess-pawn white-peice"></i></td>

                <td class="black"><i class="fa fa-chess-pawn white-peice"></i></td>
                <td class="white"><i class="fa fa-chess-pawn white-peice"></i></td>

                <td class="black"><i class="fa fa-chess-pawn white-peice"></i></td>
                <td class="white"><i class="fa fa-chess-pawn white-peice"></i></td>
                <td class="black"><i class="fa fa-chess-pawn white-peice"></i></td>
            </tr>

            <tr>
                <td class="black"><i class="fa fa-chess-rook white-peice"></i></td>
                <td class="white"><i class="fa fa-chess-knight white-peice"></i></td>
                <td class="black"><i class="fa fa-chess-bishop white-peice"></i></td>

                <td class="white"><i class="fa fa-chess-queen white-peice"></i></td>
                <td class="black"><i class="fa fa-chess-king white-peice"></i></td>

                <td class="white"><i class="fa fa-chess-bishop white-peice"></i></td>
                <td class="black"><i class="fa fa-chess-knight white-peice"></i></td>
                <td class="white"><i class="fa fa-chess-rook white-peice"></i></td>
            </tr>

        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="promation" role="dialog" aria-labelledby="promation" aria-hidden="true" data-i=""
        data-j="" data-name="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Promation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="grid-container">
                        <button type="button" class="btn btn-outline-primary" data-name="rook">
                            <i class="fa fa-chess-rook"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary" data-name="knight">
                            <i class="fa fa-chess-knight"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary" data-name="bishop">
                            <i class="fa fa-chess-bishop"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary" data-name="queen">
                            <i class="fa fa-chess-queen"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="disconnected" role="dialog" aria-labelledby="disconnected" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Disconnected</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="win" role="dialog" aria-labelledby="win" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Congratulations!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> You won the Game! </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="lose" role="dialog" aria-labelledby="lose" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hard Luck!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> You lose this game </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="tie" role="dialog" aria-labelledby="tie" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hard Luck!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> A tie! </p>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script> -->
    <script src="static/js/socket.io.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    {% if vs == 'friend' %}
    <script src="static/js/script.js"></script>
    {% else %}
    <script src="static/js/ai-script.js"></script>
    {% endif %}
</body>

</html>