<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/fontawesome.min.css" rel="stylesheet">
    <link href="static/css/regular.min.css" rel="stylesheet">
    <link href="static/css/solid.min.css" rel="stylesheet">

    <link href="favicon.ico" rel="icon">

    <link href="static/css/style.css" rel="stylesheet">

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>
    <title> Chess Game </title>
</head>

<body>
    <div>
        <h1> Chess </h1>
        <table>
            <tr>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
            </tr>

            <tr>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
            </tr>

            <tr>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
            </tr>

            <tr>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
            </tr>

            <tr>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
            </tr>

            <tr>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
            </tr>

            <tr>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
            </tr>

            <tr>
                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
                <td><i></i></td>

                <td><i></i></td>
                <td><i></i></td>
            </tr>
        </table>
    </div>
</body>

</html>