<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/fontawesome.min.css" rel="stylesheet">
    <link href="static/css/regular.min.css" rel="stylesheet">
    <link href="static/css/solid.min.css" rel="stylesheet">

    <link href="favicon.ico" rel="icon">

    <link href="static/css/style.css" rel="stylesheet">

    <title> Chess Game </title>
</head>

<body>
    <div>
        <h1> Chess </h1>
        <table>
            <tr>
                <td><i class="fa fa-chess-rook black-peice"></i></td>
                <td class="black"><i class="fa fa-chess-knight black-peice"></i></td>
                <td><i class="fa fa-chess-bishop black-peice"></i></td>

                <td class="black"><i class="fa fa-chess-queen black-peice"></i></td>
                <td><i class="fa fa-chess-king black-peice"></i></td>

                <td class="black"><i class="fa fa-chess-bishop black-peice"></i></td>
                <td><i class="fa fa-chess-knight black-peice"></i></td>
                <td class="black"><i class="fa fa-chess-rook black-peice"></i></td>
            </tr>

            <tr>
                <td class="black"><i class="fa fa-chess-pawn black-peice"></i></td>
                <td><i class="fa fa-chess-pawn black-peice"></i></td>
                <td class="black"><i class="fa fa-chess-pawn black-peice"></i></td>

                <td><i class="fa fa-chess-pawn black-peice"></i></td>
                <td class="black"><i class="fa fa-chess-pawn black-peice"></i></td>

                <td><i class="fa fa-chess-pawn black-peice"></i></td>
                <td class="black"><i class="fa fa-chess-pawn black-peice"></i></td>
                <td><i class="fa fa-chess-pawn black-peice"></i></td>
            </tr>

            <tr>
                <td><i></i></td>
                <td class="black"><i></i></td>
                <td><i></i></td>

                <td class="black"><i></i></td>
                <td><i></i></td>

                <td class="black"><i></i></td>
                <td><i></i></td>
                <td class="black"><i></i></td>
            </tr>

            <tr>
                <td class="black"><i></i></td>
                <td><i></i></td>
                <td class="black"><i></i></td>

                <td><i></i></td>
                <td class="black"><i></i></td>

                <td><i></i></td>
                <td class="black"><i></i></td>
                <td><i></i></td>
            </tr>

            <tr>
                <td><i></i></td>
                <td class="black"><i></i></td>
                <td><i></i></td>

                <td class="black"><i></i></td>
                <td><i></i></td>

                <td class="black"><i></i></td>
                <td><i></i></td>
                <td class="black"><i></i></td>
            </tr>

            <tr>
                <td class="black"><i></i></td>
                <td><i></i></td>
                <td class="black"><i></i></td>

                <td><i></i></td>
                <td class="black"><i></i></td>

                <td><i></i></td>
                <td class="black"><i></i></td>
                <td><i></i></td>
            </tr>

            <tr>
                <td><i class="fa fa-chess-pawn white-peice"></i></td>
                <td class="black"><i class="fa fa-chess-pawn white-peice"></i></td>
                <td><i class="fa fa-chess-pawn white-peice"></i></td>

                <td class="black"><i class="fa fa-chess-pawn white-peice"></i></td>
                <td><i class="fa fa-chess-pawn white-peice"></i></td>

                <td class="black"><i class="fa fa-chess-pawn white-peice"></i></td>
                <td><i class="fa fa-chess-pawn white-peice"></i></td>
                <td class="black"><i class="fa fa-chess-pawn white-peice"></i></td>
            </tr>

            <tr>
                <td class="black"><i class="fa fa-chess-rook white-peice"></i></td>
                <td><i class="fa fa-chess-knight white-peice"></i></td>
                <td class="black"><i class="fa fa-chess-bishop white-peice"></i></td>

                <td><i class="fa fa-chess-queen white-peice"></i></td>
                <td class="black"><i class="fa fa-chess-king white-peice"></i></td>

                <td><i class="fa fa-chess-bishop white-peice"></i></td>
                <td class="black"><i class="fa fa-chess-knight white-peice"></i></td>
                <td><i class="fa fa-chess-rook white-peice"></i></td>
            </tr>

        </table>
    </div>

    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>
</body>

</html>